.tab-menu-container {
    border: 15px solid lightgray;
    padding-left: 5px;
    padding-right: 70px;
    height: 80vh;
}

.tab-menu-title {
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: transparent !important;
    border-left: 6px solid black !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item {
    border-left: 6px solid lightgray;
    margin-bottom: -5px !important;

}


.vertical-menu-content {
    font-size: 16px;
    font-weight: 700;
}

.ant-menu-vertical > .ant-menu-item a:hover,
.ant-menu-vertical > .ant-menu-item-selected a:hover 
{
    color: black !important;
}


.ant-menu-vertical > .ant-menu-item a {
    color: darkgray !important;
}

.ant-menu-vertical > .ant-menu-item-selected a{
    color: black !important;

}

.content-container {
    padding: 30px;
    border: 15px solid lightgray;
    border-left: 10px solid lightgray;
    height: 80vh;
    max-width: 98%;
}

.left-title-container {
    float: left;
    width: 50%; 
}

.right-title-container {
    float: left;
    width: 50%; 
    display: flex;
    align-items: center;
    float: right;
}

.ant-btn:hover, .ant-btn:focus .ant-btn:active {
    border: black !important;
    color: black !important;
}

.custom-input {
    border: transparent;
}

.custom-input::placeholder {
    font-weight: 700;
    color: lightgray;
}

.ai-model-tab-content {
    font-size: 16px !important;
    font-weight: 500;
    margin-bottom: 5px;
}

.divider{
    margin-top: 30px; 
    margin-bottom: 30px; 
    border-bottom: 15px solid lightgray;
    width: calc(100% + 60px);
    margin-left: -30px;
}

.ant-table tr th, .ant-table tr td {
    border-bottom:  1px solid #ccc;
    padding: 10px;
    border-right: 1px solid #ccc;
}
.ant-table tr th:first-child, .ant-table tr td:first-child{
    width: 30px;

}

.ant-table tr th:last-child, .ant-table tr td:last-child{
    border-right: none;

}

.ant-table tr:last-child td{
    border-bottom: none
}


.ant-pagination-item-active a {
    color: black !important;
}

.ant-pagination-item-active {
    border-color: black !important;
}
