.horiziontal-menu-container {
    display: flex;
    justify-content: center;
    border-bottom: 3px solid orange !important;
}

.horiziontal-menu-container.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.horiziontal-menu-container.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-hover::after,
.horiziontal-menu-container.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.horiziontal-menu-container.ant-menu-horizontal > .ant-menu-item::after {
    border: none !important;
}

.horiziontal-menu-content {
    font-size: 20px;
    font-weight: 700;
}

.horiziontal-menu-container.ant-menu-horizontal > .ant-menu-item a {
    color: darkgray;
}

.horiziontal-menu-container.ant-menu-horizontal > .ant-menu-item a:hover,
.horiziontal-menu-container.ant-menu-horizontal > .ant-menu-item-selected a,
.horiziontal-menu-container.ant-menu-horizontal > .ant-menu-item-selected a:hover 
{
    color: black;
}